@import 'mission_control_overrides.css';

/* Prevent the bar from covering parts of the actual page */
body {
  margin-bottom: 37px !important;
}

.pull-left { float: left; }
.pull-right { float: right; }

#mission-control-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: visible;
  z-index: 99;
  -webkit-box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #d4d4d4;
  background: #2e3034 url('../images/bg.png') repeat;
  height: 37px;
  line-height: 37px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#mission-control-branch-details {
  padding-left: 25px;
}

.mission-control-deployed-branch {
  font-family: "Monaco", "Courier New", Courier, monospace;
  font-weight: normal;
  background: #26282b;
  padding: 4px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  border: 1px solid #3e4146;
  font-size: 12px;
  -moz-box-shadow: inset 0 0 10px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
}

.mission-control-deployed-hash,
.mission-control-deployed-branch-time,
.mission-control-hostname {
  font-size: 13px;
}

.mission-control-hostname {
  margin-left: 17px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
}

.mission-control-topic {
  font-size: 17px;
  font-weight: 500;
  color: #eee;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  padding-right: 2px;
}

.mission-control-unit {
  padding-right: 25px;
}

.mission-control-unit,
.mission-control-unit a {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

.mission-control-unit a:hover {
  text-decoration: none;
  color: inherit;
}

.mission-control-modal-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

hr {
  height: 1px;
  border: none;
  color: #ddd;
  background-color: #ddd;
  margin: 7px 0;
}

.prevent-body-overflow {
  overflow: hidden;
}

.mission-control-slow-query {
  color: red;
}

#mission-control-show-sql-breakdown-table {
  padding: 10px 30px;
  display: none;
  background: #fff;
  width: 70%;
  height: 500px;
  font-size: 12px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.7);
  box-shadow: 0 0 4px rgba(0,0,0,0.7);
  border-radius: 5px;
  overflow-y: scroll;
  word-break: break-all;
}

#mission-control-show-sql-breakdown-table table {
  font-family: "Monaco", "Courier New", Courier, monospace;
  color: #888;
  font-size: 11px;
  border-collapse: collapse;
  width: 100%;
}

#mission-control-show-sql-breakdown-table tr,
#mission-control-show-sql-breakdown-table td {
  vertical-align: top;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 9px;
}
