@import 'mission_control_overrides.css';

/* Prevent the bar from covering parts of the actual page */
body {
  margin-bottom: 37px !important;
}

.pull-left { float: left; }
.pull-right { float: right; }

#mission-control-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: visible;
  z-index: 99;
  -webkit-box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #d4d4d4;
  background: #2e3034 url('../images/bg.png') repeat;
  height: 37px;
  line-height: 37px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#mission-control-branch-details {
  padding-left: 25px;
}

.mission-control-deployed-branch {
  font-family: "Monaco", "Courier New", Courier, monospace;
  font-weight: normal;
  background: #26282b;
  padding: 4px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  border: 1px solid #3e4146;
  font-size: 12px;
  -moz-box-shadow: inset 0 0 10px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
}

.mission-control-deployed-hash,
.mission-control-deployed-branch-time,
.mission-control-hostname {
  font-size: 13px;
}

.mission-control-hostname {
  margin-left: 17px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
}

.mission-control-topic {
  font-size: 17px;
  font-weight: 500;
  color: #eee;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  padding-right: 2px;
}

.mission-control-unit {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  padding-right: 25px;
}
